<template>
    <div class="page entryBox">
        <div class="rel ctx">
            <swiper ref="mySwiper" id="swiperBox" class="swiper-container" v-bind:options="swiperOption">

                <swiper-slide v-for="(item,index) in componentsList" :key="index" :data-slide="item.slide"
                    :ref="item.slide" :class="`swiper-slide swiper-slide`+(index+1)+` `+item.className">
                    <component ref="ref_componentName" v-bind:is="item.componentName"></component>
                </swiper-slide>
                <map_item></map_item>
            </swiper>
            <div ref="arrow_l" class="abs centerh arrow_l">
                <img src="@/images/p1/arrow_l.png" alt="">
            </div>
            <div ref="arrow_r" class="abs centerh arrow_r">
                <img src="@/images/p1/arrow_r.png" alt="">
            </div>

            <!-- <div class="abs center showFuliBtnTip">
                <img src="@/images/p1/btn_tips.png" alt="">
            </div> -->
            <div @click="showFuli" class="abs center showFuliBtn">
                <img class="showFuliBtnTip" src="@/images/p1/btn_tips.png" alt="">

                <img class="showFuliBtnImg" src="@/images/p1/button.png" alt="">
            </div>
            <rule></rule>
            <detail></detail>
        </div>

    </div>
</template>


<style lang="scss" scoped src="./entryBox.scss"></style>


<script>
    import {
        swiper,
        swiperSlide
    } from 'vue-awesome-swiper'
    import page_box from '@/pages/pageBox/pageBox.vue'

    import p1 from '@/pages/p1/p1.vue'
    import p2 from '@/pages/p2/p2.vue'
    import p3 from '@/pages/p3/p3.vue'
    import map_item from '@/pages/mapItem/mapItem.vue'
    import rule from '@/pages/rule/rule.vue'
    import detail from '@/pages/rule/detail.vue'

    export default {
        name: 'entryBox',
        components: { //组件
            swiper,
            swiperSlide,
            page_box,
            p1,
            p2,
            p3,
            map_item,
            rule,
            detail
        },
        data() {
            return {
                componentsList: [{
                    componentName: 'p1',
                    slide: 'slide1',
                    className: 1 ? '' : 'swiper-no-swiping'
                }, {
                    componentName: 'p2',
                    slide: 'slide2',
                    className: 1 ? '' : 'swiper-no-swiping'
                }, {
                    componentName: 'p3',
                    slide: 'slide3',
                    className: 1 ? '' : 'swiper-no-swiping'
                }, ],
                componentsList0: [{
                    componentName: 'page_box',
                    slide: 'slide1',
                    className: 1 ? '' : 'swiper-no-swiping'
                }, ],
                startScroll: '',
                touchStart: '',
                touchCurrent: '',
                swiperOption: {
                    allowTouchMove: true, //true 可滑动 false 不可滑动

                    initialSlide: 1,
                    autoplay: false,
                    loop: false,
                    noSwiping: true,
                    // centeredSlides: true,

                    slidesPerView: 'auto',
                    freeMode: true, //不贴合
                    freeModeMomentumBounce: false,
                    setWrapperSize: true,

                    // shortSwipes: false,
                    // followFinger: false,
                    // freeModeMinimumVelocity: 0.2,

                    // autoHeight: true,
                    height: window.innerHeight, // 高度设置，占满设备高度
                    // slidesPerView: 1, //设置slider容器能够同时显示的slides数量(carousel模式)。可以设置为数字（可为小数，小数不可loop），或者 'auto'则自动根据slides的宽度来设定数量。loop模式下如果设置为'auto'还需要设置另外一个参数loopedSlides。


                    direction: 'horizontal', //水平 horizontal 垂直 vertical
                    speed: 800,

                    resistanceRatio: 0, //0时完全无法拖离
                    notNextTick: true, //notNextTick是一个组件自有属性，如果notNextTick设置为true，组件则不会通过NextTick来实例化swiper，也就意味着你可以在第一时间获取到swiper对象，假如你需要刚加载遍使用获取swiper对象来做什么事，那么这个属性一定要是true

                    observer: true, //修改swiper自己或子元素时，自动初始化swiper
                    observeParents: true, //修改swiper的父元素时，自动初始化swiper
                    on: {
                        init: () => {
                            // this.slideIndex = 0[ M  ]
                            this.$nextTick(() => {
                                this.onSwiper2()
                            })

                        },
                        slideChangeTransitionStart: () => {
                            // this.Utils.$An.fadeOut(this.$refs.arrow_l)
                        },
                        // reachEnd: () => {
                        //     this.Utils.$An.fadeOut(this.$refs.arrow_r)
                        // }
                    },
                },
            }
        },
        created() {

        },
        computed: {
            swiper() {
                return this.$refs.mySwiper.swiper
            }
        },
        mounted() { //页面加载完成后执行
            this.onInit();

            this.$on('isload', (data) => {
                if (!data) return
                //可滑动
                // this.swiper.allowTouchMove = true
            })

            this._GLOBAL.eventBus.$on('videoposterend', () => {
                //可滑动
                this.swiper.allowTouchMove = true
                this._GLOBAL.eventBus.$emit('videoplay')
            })

            this._GLOBAL.eventBus.$on('videoclicknext', () => {
                this.swiper.slideNext();
            })

        },
        methods: {
            onInit: function () {},
            onSwiper2: function () {
                this.swiper.slides.on('transitionStart', function (e) {
                    console.log(e)
                }, true)
            },
            onSwiper: function () {
                let that = this

                this.swiper.slides.on('touchstart', function (e) {
                    this.startScroll = this.scrollTop;
                    this.touchStart = e.targetTouches[0].pageY;
                }, true)

                this.swiper.slides.on('touchmove', function (e) {
                    this.touchCurrent = e.targetTouches[0].pageY;
                    var touchesDiff = this.touchCurrent - this.touchStart;

                    var slide = this;
                    var onlyScrolling =
                        (slide.scrollHeight > slide.offsetHeight) &&
                        (
                            (touchesDiff < 0 && this.startScroll === 0) ||
                            (touchesDiff > 0 && this.startScroll === (slide.scrollHeight - slide
                                .offsetHeight)) ||
                            (this.startScroll > 0 && this.startScroll < (slide.scrollHeight -
                                slide.offsetHeight))
                            //Math.ceil兼容长图滑到底后继续后一个slide
                            // (this.startScroll > 0 && Math.ceil(this.startScroll) < (slide.scrollHeight -
                            //     slide.offsetHeight))
                        );
                    // console.log(onlyScrolling, 'slide.scrollHeight > slide.offsetHeight', slide
                    //     .scrollHeight > slide.offsetHeight, 'touchesDiff', touchesDiff,
                    //     'this.startScroll', this.startScroll,
                    //     'slide.scrollHeight - slide.offsetHeight', slide.scrollHeight - slide
                    //     .offsetHeight, 'slide.scrollHeight-slide.offsetHeight', slide.scrollHeight -
                    //     slide.offsetHeight)
                    // console.log((touchesDiff < 0 && this.startScroll === 0), "||", (touchesDiff > 0 && this
                    //     .startScroll === (slide.scrollHeight - slide
                    //         .offsetHeight)), "||", (this.startScroll > 0 && this.startScroll < (
                    //     slide.scrollHeight - slide.offsetHeight)))

                    if (onlyScrolling) {
                        e.stopPropagation();
                    }

                    if (that.swiper.activeIndex != 1) return
                    //slide2
                    let slide2Top = document.querySelector('.swiper-slide2').scrollTop;

                    if (slide2Top > 700 && slide2Top <= 1400) {
                        that.showP4()
                    }

                    if (slide2Top > 1400) {
                        that.showP5()
                    }
                    if (slide2Top > 520 && slide2Top < 1200) {
                        that._GLOBAL.eventBus.$emit('slide2p2play')
                    } else {
                        that._GLOBAL.eventBus.$emit('slide2p2pause')
                    }

                }, {
                    passive: false
                })

                this.swiper.slides.on('touchend', function (e) {
                    if (that.swiper.activeIndex != 1) return
                    //slide2
                    let slide2Top = document.querySelector('.swiper-slide2').scrollTop;
                    if (slide2Top > 500 && slide2Top < 1200) {
                        that._GLOBAL.eventBus.$emit('slide2p2play')
                    } else {
                        that._GLOBAL.eventBus.$emit('slide2p2pause')
                    }
                })

                this.swiper.slides.on('slideChangeTransitionEnd', function (e) {
                    this.slideIndex = this.swiper.activeIndex;
                }, true)
            },

            showFuli() {
                this._GLOBAL.eventBus.$emit('p2BtnClick')
                gtag('event', 'start', {
                    'event_category': 'NARS',
                    'event_label': 'click'
                });
                gtag('config', 'UA-111667457-5', {
                    'page_title': 'NARS_p3',
                });
                _smq.push(['custom', 'NARSEyeShadow', 'P2', '即刻赢取福利']);
            },

        },
        destroyed() {},

    }
</script>