.entryBox {
    // overflow: hidden;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background: #000;
    color: #000;
    text-align: center;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.slide-ctx {
    min-height: 100%;
    min-width: 100%;
}

.swiper-slide1 {
    width: 873/100+rem;
}

.swiper-slide2 {
    width: 750/100+rem;
}

.swiper-slide3 {
    width: 873/100+rem;
}

.arrow_l {
    width: 35/100+rem;
    left: 0.3rem;
    animation: arrowOpt 0.7s linear infinite alternate;
    z-index: 1;
}

.arrow_r {
    width: 35/100+rem;
    right: 0.3rem;
    animation: arrowOpt 0.7s linear infinite alternate;
    z-index: 1;
}

.showFuliBtnTip {
    width: 336/100+rem;
    // top: 75%;
    // left: 50%;
    // transform: translate3d(-50%, -50%, 0);
    // z-index: 1;
}

.showFuliBtn {
    // bottom: 1rem;
    top: 80%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 1;
}

.showFuliBtnImg {
    width: 311/100+rem;
}