<template>
    <div class="abs mapItem">
        <ul class="abs centerh tipBox">
            <li v-for="(item,index) in tipBox" :class="['abs tipItem','tipItem'+index]" :key="index" data-index="index"
                @click="tipItemChs(index)">
                <i :class="item.p" :style="{animationDelay:Math.random().toFixed(1)+'s'}"
                    :data-style="app.$refs['tipItem0']"></i>
                <img class="itemImg" :src="item.src" :style="{animationDelay:Math.random().toFixed(1)+'s'}">
            </li>
        </ul>
        <ul class="abs centerh chsBox">
            <li v-for="(item,index) in tipBox" :key="index" :class="['abs chsItem','chsItem_'+item.name]"
                :data-name="item.name" @click="chsItemChs(index,item.name)"></li>
        </ul>

    </div>
</template>


<style lang="scss" scoped src="./mapItem.scss"></style>

<script>
    export default {
        name: 'mapItem',
        data() {
            return {
                app: this,
                tipBox: [{
                    name: 'xiaozhong',
                    p: 'i_r',
                    src: require('@/images/p1/xiaozhong.png'),
                    ga: 'pic6',
                    ad: 'Pic6',
                }, {
                    name: 'haidao',
                    p: 'i_l',
                    src: require('@/images/p1/haidao.png'),
                    ga: 'pic4',
                    ad: 'Pic4',
                }, {
                    name: 'qingxin',
                    p: 'i_r',
                    src: require('@/images/p1/qingxin.png'),
                    ga: 'pic7',
                    ad: 'Pic7',
                }, {
                    name: 'ziran',
                    p: 'i_l',
                    src: require('@/images/p1/ziran.png'),
                    ga: 'pic5',
                    ad: 'Pic5',
                }, {
                    name: 'yiyu',
                    p: 'i_r',
                    src: require('@/images/p1/yiyu.png'),
                    ga: 'pic3',
                    ad: 'Pic3',
                }, {
                    name: 'fugu',
                    p: 'i_r',
                    src: require('@/images/p1/fugu.png'),
                    ga: 'pic2',
                    ad: 'Pic2',
                }, {
                    name: 'modeng',
                    p: 'i_l',
                    src: require('@/images/p1/modeng.png'),
                    ga: 'pic1',
                    ad: 'Pic1',
                }]

            }
        },
        methods: {
            tipItemChs(index) {
                // console.log(index)
            },
            chsItemChs(index, chs) {
                this._GLOBAL.eventBus.$emit("showDetailBtnClick", [index, chs])

                gtag('event', this.tipBox[index].ga, {
                    'event_category': 'NARS',
                    'event_label': 'click'
                });
                _smq.push(['custom', 'NARSEyeShadow', 'P2', this.tipBox[index].ad]);
            },
        },
    }
</script>