.mapItem {
    // width: 100%;
    height: 100%;

    // pointer-events: none;

    .tipBox {
        // width: 100%;
        height: 1464/100+rem;


        .tipItem {
            width: 214/100+rem;

            i {
                position: absolute;
                width: 45/100+rem;
                height: 45/100+rem;

                &.i_r {
                    right: -23/100+rem;
                }

                &.i_l {
                    left: -23/100+rem;
                }

                &::before {
                    position: absolute;
                    display: block;
                    content: '';
                    width: 45/100+rem;
                    height: 45/100+rem;
                    border-radius: 50%;
                    background: #fff;
                    opacity: 0.3;
                    animation: itemScale 0.6s ease-in-out infinite alternate;
                    transform-origin: 50% 50%;
                }

                &::after {
                    position: absolute;
                    display: block;
                    content: '';
                    width: 12/100+rem;
                    height: 12/100+rem;
                    top: 50%;
                    left: 50%;
                    transform: translate3d(-50%, -50%, 0);
                    border-radius: 50%;
                    background: #fff;
                    opacity: 1
                }
            }

            .itemImg {
                animation: itemOpacity 0.6s ease-in-out infinite alternate;
            }
        }

        .tipItem0 {
            top: 515/100+rem;
            left: 105/100+rem;
        }

        .tipItem1 {
            top: 990/100+rem;
            left: 742/100+rem;
        }

        .tipItem2 {
            top: 425/100+rem;
            left: 1014/100+rem;
        }

        .tipItem3 {
            top: 740/100+rem;
            left: 1340/100+rem;
        }

        .tipItem4 {
            top: 528/100+rem;
            left: 1465/100+rem;
        }

        .tipItem5 {
            top: 895/100+rem;
            left: 1790/100+rem;
        }

        .tipItem6 {
            top: 646/100+rem;
            left: 2004/100+rem;
        }
    }

    .chsBox {
        // width: 100%;
        height: 1464/100+rem;

        .chsItem {
            // border: 1px solid red;
        }

        .chsItem_xiaozhong {
            width: 350/100+rem;
            height: 360/100+rem;
            top: 375/100+rem;
            left: 200/100+rem;
        }

        .chsItem_haidao {
            width: 400/100+rem;
            height: 350/100+rem;
            top: 840/100+rem;
            left: 560/100+rem;
        }

        .chsItem_qingxin {
            width: 350/100+rem;
            height: 280/100+rem;
            top: 329/100+rem;
            left: 1070/100+rem;
        }

        .chsItem_ziran {
            width: 310/100+rem;
            height: 290/100+rem;
            top: 690/100+rem;
            left: 1205/100+rem;
        }

        .chsItem_yiyu {
            width: 280/100+rem;
            height: 345/100+rem;
            top: 465/100+rem;
            left: 1530/100+rem;
        }

        .chsItem_fugu {
            width: 280/100+rem;
            height: 250/100+rem;
            top: 840/100+rem;
            left: 1880/100+rem;
        }

        .chsItem_modeng {
            width: 250/100+rem;
            height: 300/100+rem;
            top: 510/100+rem;
            left: 1845/100+rem;
        }
    }

}