.load {
    .loadBox {
        // top: 0;
        left: 0;

        .loadimg {
            width: 100%;
            top: 336/100+rem;
        }

        .loadtxt {
            width: 100%;
            top: 1000/100+rem;
            text-align: center;
            font-size: 36/100+rem;
            color: #fff;
            letter-spacing: 3px;
            opacity: 0.5;
        }

        .loadProgress {
            width: 603/100+rem;
            top: 1048/100+rem;

            .progress_txt {
                width: 432/100+rem;
                top: 28/100+rem;
            }

            .line_up {
                width: 100%;
                height: 100%;
                top: 0;
                background: url(../../images/load/line-mask2.png) no-repeat;
                background-size: 100% auto;
            }

            .line_down {
                width: 100%;
                height: 100%;
                top: 0;
                background: url(../../images/load/line.png) no-repeat;
                background-size: 100% auto;
                mask-image: -webkit-linear-gradient(-22deg, transparent 0%, white 0%);
                transition: all 0.1s linear;
            }

        }
    }
}