<template>
    <div v-if="!isLoad" class="page load">

        <!-- <div class="abs load_line"><img src="@/images/load/load_line.jpg" alt=""></div> -->
        <div class="fixed centerh loadBox">
            <img src="static/images/load/loadbg.jpg" alt="">
            <div class="abs loadimg">
                <img src="static/images/load/loadimg.png" alt="">
            </div>
            <div class="abs loadtxt">
                {{progressNum}}
            </div>
            <div class="abs center loadProgress">
                <img class="opacity0" src="static/images/load/line.png" alt="">
                <div class="abs line_up"></div>
                <div ref="showProgress" class="abs line_down"></div>
                <!-- <div class="abs center progress_txt"><img src="static/images/load/loadtxt.png" alt=""></div> -->
            </div>
        </div>
        <!-- <div v-if="!isLoad" class="abs center centerh loadBox">
            <div class="rel img"><img src="@/images/load/loadbg.jpg" alt=""></div>
            <div class="rel progressBg">
                <img src="@/images/load/progress.png" alt="">
                <span ref="progress" class="abs progress"></span>
            </div>
            <div class="rel mcenter txt"><img src="@/images/load/txt.png" alt=""></div>
        </div> -->

    </div>

</template>


<style lang="scss" scoped src="./load.scss"></style>


<script>
    export default {
        name: 'load',
        data() {
            return {
                isIOS: /iphone/gi.test(navigator.userAgent) && (this._GLOBAL.device.wechat || this._GLOBAL.isDevtools),
                lineItemList: [1, 1],
                isLoad: false,

                imgp: 0, //进度
                vp: 0, //
                img_weight: 1, //资源总数为1
                // v_weight: 0, //资源总数为1
                progressNum: 0, //总进度

                imgbeforeLoadArr: [
                    'static/images/load/loadbg.jpg',
                    'static/images/load/line.png',
                    'static/images/load/line-mask.png',
                ],
                imgLoadArr: [
                    'static/images/load/loadbg.jpg',
                    'static/images/load/loadimg.png',
                    'static/images/load/loadtxt.png',
                    'static/images/load/line.png',
                    'static/images/load/line-mask.png',

                    'static/images/share1.png',
                    'static/images/showRule/bg.jpg',
                    'static/images/showRule/rule.png',

                    'static/images/details/fugu1.jpg',
                    'static/images/details/fugu2.jpg',
                    'static/images/details/fugu3.jpg',
                    'static/images/details/fugu4.jpg',
                    'static/images/details/haidao1.jpg',
                    'static/images/details/haidao2.jpg',
                    'static/images/details/haidao3.jpg',
                    'static/images/details/haidao4.jpg',
                    'static/images/details/modeng1.jpg',
                    'static/images/details/modeng2.jpg',
                    'static/images/details/modeng3.jpg',
                    'static/images/details/modeng4.jpg',
                    'static/images/details/qingxin1.jpg',
                    'static/images/details/qingxin2.jpg',
                    'static/images/details/qingxin3.jpg',
                    'static/images/details/qingxin4.jpg',
                    'static/images/details/xiaozhong1.jpg',
                    'static/images/details/xiaozhong2.jpg',
                    'static/images/details/xiaozhong3.jpg',
                    'static/images/details/xiaozhong4.jpg',
                    'static/images/details/yiyu1.jpg',
                    'static/images/details/yiyu2.jpg',
                    'static/images/details/yiyu3.jpg',
                    'static/images/details/yiyu4.jpg',
                    'static/images/details/ziran1.jpg',
                    'static/images/details/ziran2.jpg',
                    'static/images/details/ziran3.jpg',
                    'static/images/details/ziran4.jpg',
                ],
            }
        },
        mounted() {

            this.$on('startload', () => {
                this.onInit();
            })

            this.$on('loadprogress', (data) => {
                console.log('loadprogress', data)
                this.changeline_width.change(data)
            })

        },
        methods: {
            onInit() {

                this.myload = new this.Utils.Class_LoadImgSource({
                    ele: this.$refs.showProgress,
                    isTest: true,
                    beforeLoadArr: this.imgbeforeLoadArr,
                    imgLoadArr: this.imgLoadArr,
                    mixload_time: '1500',
                    afterloadNextStep_time: '500',
                    onStart: () => {},
                    onProgress: (obj) => {
                        const {
                            $ele,
                            item,
                            progress
                        } = obj
                        this.progressNum = progress + '%'
                        $ele.style['webkitMaskImage'] = '-webkit-linear-gradient(-22deg, transparent ' +
                            progress + '%, white 0%)';
                    },
                    onLoad: () => {
                        let isLoad_t = this.myload.get_loadNextStep_time()
                        console.log('img加载完成', 'use:', this.myload.get_loadtime(), 'need:', isLoad_t)

                        setTimeout(() => {
                            this.isLoad = true
                            this._GLOBAL.eventBus.$emit('isLoad')
                        }, isLoad_t)
                        // this.$emit('listenloadevent', 'onload')
                    }
                })

            },
            // ClassLoad(ele, callback) {
            //     if (Object.prototype.toString.call(ele) == '[object HTMLDivElement]') {
            //         var $ele = ele
            //     } else {
            //         var $ele = this.$refs.showProgress
            //         callback = ele
            //     }

            //     let progress = 0,
            //         $ele_changeStyleName = 'webkitMaskImage';

            //     const set_progress = (new_progress) => {
            //         progress = new_progress
            //     }

            //     const get_porgress = () => {
            //         return progress
            //     }

            //     const $ele_changeStyle = () => {
            //         return '-webkit-linear-gradient(-22deg, transparent ' + get_porgress() + '%, white 0%)';
            //     }

            //     const start_test = () => {
            //         var st = setInterval(() => {
            //             if (get_porgress() >= 100) {
            //                 clearInterval(st)
            //                 callback && callback()
            //             } else {
            //                 set_progress(++progress)
            //                 this.progressNum = get_porgress()
            //                 $ele.style[$ele_changeStyleName] = $ele_changeStyle()
            //             }
            //         }, 20)
            //     }

            //     const update = (progress) => {
            //         set_progress(progress)
            //         this.progressNum = get_porgress() + '%'
            //         $ele.style[$ele_changeStyleName] = $ele_changeStyle()
            //         if (get_porgress() >= 100) {
            //             callback && callback()
            //         }
            //     }
            //     return {
            //         start_test,
            //         update
            //     }
            // },
        },
    }
</script>