.detail {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    background: rgba(0, 0, 0, 0.8);

    .detailBox {
        width: 680/100+rem;
        // height: 1100/100+rem;
        // height: 86%;
        height: 80%;
        top: 45%;

        .detailContainer {
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;

            &::-webkit-scrollbar-track {
                background-color: transparent;
            }

            &::-webkit-scrollbar-track-piece {
                background-color: transparent;
            }
        }

        span {
            position: absolute;
            // top: 5px;
            right: 2px;
            width: 5px;
            height: 30%;
            background: #fff;
            border-radius: 5px;
            opacity: 0.7;
        }
    }

    .showFuliBtn {
        width: 311/100+rem;
        top: 100%;
    }

    .closeBtn {
        width: 112/100+rem;
        top: 0;
        right: 0;
    }
}