<template>
    <div v-show="isDetailShow" ref="showDetailBox" class="abs detail">
        <div class="abs center centerh detailBox" :data-chs="getChs">
            <div ref="detailContainer" class="abs center centerh detailContainer"
                v-on:scroll.passive="detailBoxOnScroll">
                <div ref="detailBox"></div>
            </div>
            <span ref="p_line"></span>

            <div @click="showFuli" class="abs center showFuliBtn">
                <img src="@/images/p1/button.png" alt="">
            </div>

            <div @click="hideFc" class="fixed closeBtn">
                <img src="@/images/showRule/close.png" alt="">
            </div>
        </div>

    </div>
</template>


<style lang="scss" scoped src="./detail.scss"></style>

<script>
    export default {
        name: 'rule',
        data() {
            return {
                isDetailShow: false,
                getChs: 'ziran',
            }
        },

        mounted() {
            this._GLOBAL.eventBus.$on("showDetailBtnClick", (arr) => {
                const [id, chs] = arr

                let loadFcImgArr = [
                    `static/images/details/${chs}1.jpg`,
                    `static/images/details/${chs}2.jpg`,
                    `static/images/details/${chs}3.jpg`,
                    `static/images/details/${chs}4.jpg`
                ]
                this.loadFc(loadFcImgArr, () => {

                    this.$refs.detailBox.innerHTML = `
                        <img src="${loadFcImgArr[0]}">
                        <img src="${loadFcImgArr[1]}">
                        <img src="${loadFcImgArr[2]}">
                        <img src="${loadFcImgArr[3]}">`;

                    this.getChs = chs
                    this.$nextTick(() => {
                        this.Utils.$An.fadeIn(this.$refs.showDetailBox, {
                            callback: () => {
                                this.changeLine()
                            }
                        })
                        this.$refs.detailContainer.scrollTop = 0;
                    })
                })



                let track = '';
                switch (chs) {
                    case 'modeng':
                        track = 1
                        break;
                    case 'fugu':
                        track = 2
                        break;
                    case 'yiyu':
                        track = 3
                        break;
                    case 'haidao':
                        track = 4
                        break;
                    case 'ziran':
                        track = 5
                        break;
                    case 'xiaozhong':
                        track = 6
                        break;
                    case 'qingxin':
                        track = 7
                        break;
                }
                if (track) {
                    gtag('config', 'UA-111667457-5', {
                        'page_title': 'NARS_p2-' + track,
                    });
                }

            });
        },
        methods: {
            loadFc(arr, callback) {
                this.myload = new this.Utils.Class_LoadImgSource({
                    imgLoadArr: arr,
                    onLoad: () => {
                        callback && callback()
                    }
                })
            },
            hideFc() {
                this.Utils.$An.fadeOut(this.$refs.showDetailBox, {
                    callback: () => {
                        this.$refs.detailBox.innerHTML = ''
                    }
                })
            },
            changeLine() {
                this.detailContainer_height = parseFloat(this.Utils.$Dom.getStyle(this.$refs.detailContainer,
                    'height'))
                this.detailBox_height = parseFloat(this.Utils.$Dom.getStyle(this.$refs.detailBox, 'height'))
                this.p_line_height = parseFloat(this.Utils.$Dom.getStyle(this.$refs.p_line, 'height'))

                this.p_line_maxtop = this.detailContainer_height - this.p_line_height
                this.detailContainer_maxTop = this.detailBox_height - this.detailContainer_height

                this.p_line_init_padding = 5

                const p_line_new_height = this.detailContainer_height / this.detailBox_height *
                    this.detailContainer_height
                this.$refs.p_line.style.height = p_line_new_height + 'px'
                this.$refs.p_line.style.top = this.p_line_init_padding + 'px'
            },
            detailBoxOnScroll(e) {

                const detailContainer_height = parseFloat(this.Utils.$Dom.getStyle(this.$refs.detailContainer,
                    'height'))
                const p_line_height = parseFloat(this.Utils.$Dom.getStyle(this.$refs.p_line, 'height'))


                //bar的移动距离/bar的可以移动的距离 = content的移动距离 / content可以移动的距离
                //content的移动距离 = bar的移动距离/bar的可以移动的距离 * content可以移动的距离

                //bar的移动距离 = content的移动距离 / content可以移动的距离 * bar的可以移动的距离


                const container_scrollTop = this.$refs.detailContainer.scrollTop;
                const detailContainer_maxTop = this.detailContainer_maxTop
                const p_line_maxtop = detailContainer_height - p_line_height - this.p_line_init_padding * 2

                this.$refs.p_line.style.top = this.p_line_init_padding + container_scrollTop / this
                    .detailContainer_maxTop * p_line_maxtop + 'px'

                // console.log('container_scrollTop', container_scrollTop, 'detailContainer_maxTop',
                //     detailContainer_maxTop, 'p_line_maxtop', p_line_maxtop)

            },
            showFuli() {
                this._GLOBAL.eventBus.$emit('p2BtnClick')

                gtag('event', 'start', {
                    'event_category': 'NARS',
                    'event_label': 'click'
                });
                gtag('config', 'UA-111667457-5', {
                    'page_title': 'NARS_p3',
                });
            },

        },
    }
</script>