<template>
    <div v-show="isRuleShow" ref="showRuleBox" class="abs rule">
        <div class="abs center centerh ruleBox" @click.stop="">
            <img src="@/images/showRule/bg3.jpg" alt="">

            <div @click="showRule" class="abs wenhao">
                <img src="@/images/showRule/wenhao.png" alt="">
            </div>

            <div @click="weiboShare" class="abs center button">
                <!-- <img src="@/images/showRule/button.gif" alt=""> -->
            </div>
        </div>
        <div v-show="!rule2Show" class="abs back" @click="hideFc">
            <img src="@/images/showRule/back.png" alt="">
        </div>

        <div v-show="isRule2Show" ref="showRule2Box" class="abs center centerh rule2Box" @click.stop="">
            <img src="@/images/showRule/rule2.png" alt="">
        </div>
        <div v-show="isRule2Show" ref="hideRule2Btn" @click.stop="hideRule2Fc" class="fixed closeBtn">
            <img src="@/images/showRule/close.png" alt="">
        </div>
    </div>
</template>


<style lang="scss" scoped src="./rule.scss"></style>

<script>
    export default {
        name: 'rule',
        data() {
            return {
                isRuleShow: false,
                isRule2Show: false,
                rule2Show: false,
                shareInfo: {
                    title: encodeURIComponent('带上我爱的TA#和NARS看世界#，我梦想中的旅行线路是：\n@NARS '),
                    image_url: encodeURIComponent(
                        'http://campaign.narscosmetics.com.cn/eyeshadow/static/images/share3.png'),
                    share_url: encodeURIComponent(window.location.href.split('#')[0]),
                }
            }
        },

        mounted() {
            this._GLOBAL.eventBus.$on("p2BtnClick", () => {
                this.$refs.showRuleBox.style.background = 'rgba(0,0,0,1)';
                this.Utils.$An.fadeIn(this.$refs.showRuleBox)

            });
        },
        methods: {
            showRule() {
                // alert('显示规则')
                this.Utils.$An.fadeIn(this.$refs.showRule2Box)
                this.Utils.$An.fadeIn(this.$refs.hideRule2Btn)
                this.rule2Show = true


                gtag('event', 'QA', {
                    'event_category': 'NARS',
                    'event_label': 'click'
                });
                _smq.push(['custom', 'NARSEyeShadow', 'P3', '帮助']);


            },
            hideFc() {
                if (this.rule2Show) {
                    //点击按钮关闭
                    // this.Utils.$An.fadeOut(this.$refs.showRule2Box)
                } else {
                    this.Utils.$An.fadeOut(this.$refs.showRuleBox)
                }
            },
            hideRule2Fc() {
                this.rule2Show = false
                this.Utils.$An.fadeOut(this.$refs.showRule2Box)
                this.Utils.$An.fadeOut(this.$refs.hideRule2Btn)

                gtag('config', 'UA-111667457-5', {
                    'page_title': 'NARS_p3-1',
                });

            },
            weiboShare() {
                if (this._GLOBAL.device.weibo) {
                    location.href = 'https://service.weibo.com/share/share.php?url=' + this.shareInfo.share_url +
                        '&title=' + this.shareInfo.title + '&pic=' + this.shareInfo.image_url
                } else {
                    alert('请前往微博参与活动\n关注@NARS\n参与#和NARS看世界#话题互动')
                }
                gtag('event', 'enter', {
                    'event_category': 'NARS',
                    'event_label': 'click'
                });
                _smq.push(['custom', 'NARSEyeShadow', 'P3', '即刻出发']);

            }
        },
    }
</script>