.rule {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.8);

    .ruleBox {
        width: 669/100+rem;
        // height: 1100/100+rem;
        height: 86%;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;

        .wenhao {
            width: 30/100+rem;
            top: 0.1rem;
            right: 0.5rem;

            &::before {
                content: "";
                position: absolute;
                left: -10px;
                top: -10px;
                right: -10px;
                bottom: -10px;
            }
        }


        .button {
            width: 293/100+rem;
            top: 1030/100+rem;
            height: 70/100+rem;
            background: url('../../images/p1/btn_sprite2.png');
            background-position: 0 0;
            background-size: 2900% 100%;
            animation: run 2.5s steps(29, start) infinite;
        }


        @keyframes run {
            from {
                background-position: 0 0;
            }

            to {
                background-position: -2900% 0;
            }
        }

    }

    .back {
        width: 63/100+rem;
        top: 0.3rem;
        left: 0.6rem;
    }

    .rule2Box {
        width: 669/100+rem;
        // height: 1100/100+rem;
        height: 86%;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;

        .closeBtn {
            width: 112/100+rem;
            top: 5/100+rem;
            right: 5/100+rem;
        }
    }

    .closeBtn {
        width: 112/100+rem;
        top: 0.5rem;
        right: 0.7rem;
    }
}