.p2 {
    width: 750/100+rem;
    height: 100vh;
    overflow-y: hidden;

    .mapBox {
        width: 750/100+rem;
    }

    .txtBox {
        width: 384/100+rem;
        top: 3%;

        img {
            margin-top: 20/100+rem;
            opacity: 0;
        }
    }

    .showFuliBtn {
        width: 311/100+rem;
        bottom: 0.3rem;
        z-index: 50 !important;
    }
}