<template>
    <div class="page p2">
        <div class="abs centerh mapBox">
            <img src="@/images/p1/map_c.jpg" alt="">
        </div>
        <div ref="txtBox" class="abs center txtBox">
            <img ref="txtBox1" src="@/images/p1/txt1.png" alt="">
            <img ref="txtBox2" src="@/images/p1/txt2.png" alt="">
            <img ref="txtBox3" src="@/images/p1/txt3.png" alt="">
        </div>

        <!-- <div @click="showFuli" class="abs center showFuliBtn">
            <img src="@/images/p1/button.png" alt="">
        </div> -->


    </div>
</template>


<style lang="scss" scoped src="./p2.scss"></style>

<script>
    export default {
        name: 'p2',
        data() {
            return {}
        },
        mounted() {
            this._GLOBAL.eventBus.$on('isLoad', () => {
                // this.textAn1()

                this.Utils.$An.fadeIn(this.$refs.txtBox1, {
                    frameSpeed: 80,
                    callback: () => {
                        this.Utils.$An.fadeIn(this.$refs.txtBox2, {
                            frameSpeed: 80,
                            callback: () => {
                                this.Utils.$An.fadeIn(this.$refs.txtBox3, {
                                    frameSpeed: 80,
                                    callback: () => {
                                        setTimeout(() => {
                                            this.Utils.$An.fadeOut(
                                                this.$refs
                                                .txtBox)
                                        }, 2000)
                                    }
                                })
                            }
                        })
                    }
                })
            })
        },
        methods: {
            textAn1() {
                this.Utils.$An.fadeIn(this.$refs.txtBox1, {
                    frameSpeed: 30,
                    callback: () => {
                        setTimeout(() => {
                            this.Utils.$An.fadeOut(this.$refs.txtBox1, {
                                frameSpeed: 80,
                                callback: () => {
                                    this.textAn2()
                                }
                            })
                        }, 1000);
                    }
                })
            },
            textAn2() {
                this.Utils.$An.fadeIn(this.$refs.txtBox2, {
                    frameSpeed: 30,
                    callback: () => {
                        setTimeout(() => {
                            this.Utils.$An.fadeOut(this.$refs.txtBox2, {
                                frameSpeed: 80,
                                callback: () => {
                                    this.textAn3()
                                }
                            })
                        }, 1000);
                    }
                })
            },
            textAn3() {
                this.Utils.$An.fadeIn(this.$refs.txtBox3, {
                    frameSpeed: 30,
                    callback: () => {
                        setTimeout(() => {
                            this.Utils.$An.fadeOut(this.$refs.txtBox3, {
                                frameSpeed: 80,
                                callback: () => {}
                            })
                        }, 1000);
                    }
                })
            },
            showFuli() {
                this._GLOBAL.eventBus.$emit('p2BtnClick')
                gtag('event', 'start', {
                    'event_category': 'NARS',
                    'event_label': 'click'
                });
                gtag('config', 'UA-111667457-5', {
                    'page_title': 'NARS_p3',
                });
            }
        },
    }
</script>