/* Your app styles here */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    /* height: 14.48rem; */
    height: 100vh;
    /* -webkit-overflow-scrolling: touch; */
    background: #000;
}

body {
    /* IOS禁止微信调整字体大小 */
    -webkit-text-size-adjust: 100% !important;
}

body {
    overflow-y: hidden;
}

body.noscroll {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

canvas {
    width: 100%;
}

img {
    max-width: 100%;
    vertical-align: middle;
    font-size: 0;
    content: normal !important;
}

ul,
li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

p {
    margin: 0;
    padding: 0;
}

.clearfix:after {
    clear: both;
}

.clearfix:before,
.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
}

.fixed {
    position: fixed;
}

.center {
    left: 50%;
    transform: translate3d(-50%, 0, 0);
}

.mcenter {
    margin: 0 auto;
}

.centerh {
    top: 50%;
    transform: translate3d(0, -50%, 0);
}

.center.centerh {
    transform: translate3d(-50%, -50%, 0);
}

.js-none {
    display: none;
}

.opacity0 {
    opacity: 0;
}

.pageBox {
    height: 100vh;
    top: 0;
    left: 0;
}


/* .pagebox {
    height: 100%;
} */

.page {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 0;
}

.page .ctx {
    height: 100%;
}

input {
    border: 0;
    outline: none;
    font-size: 0.26rem;
    color: #fff;
    background: transparent;
}

@media (orientation: landscape) {
    .rotateMaskBox {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #000;
        z-index: 999;
        display: block !important;
    }

    .rotateMaskBox.disabled {
        /* 键盘抬起 */
        display: none !important;
    }

    .rotateMaskImg {
        position: absolute;
        width: 1.42rem;
        height: 1.42rem;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        background: url('../images/rotate_tip.jpg') no-repeat;
    }
}

@media (orientation: portrait) {
    .rotateMaskBox {
        display: none !important;
    }
}


/* @keyframes changeFilter {
  from {
    filter: drop-shadow(0 0 0PX #fff);
  }

  to {
    filter: drop-shadow(0 0 8PX #fff);
  }
} */
@keyframes itemScale {
    from {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    to {
        transform: scale3d(0.6, 0.6, 0.6);
    }
}

@keyframes arrowOpt {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.4;
    }
}

@keyframes itemOpacity {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.6;
    }
}

.pageBox1 {
    height: 100%;
}

.jsgif {
    display: none;
    position: absolute;
    width: 100%;
    top: 3.8rem;
    left: 0;
}