@import 'common.css';

/*  */

.pintu1 {
    width: 1.97rem;
    top: 0;
    right: 0;
}

.pintu2 {
    width: 1.93rem;
    top: 4.58rem;
    left: 0;
}

.pintu3 {
    width: 100%;
    bottom: 0;
    left: 0;
}