.p1 {
    width: 873/100+rem;
    // height: auto;
    height: 100vh;
    overflow-y: hidden;

    .mapBox {
        width: 873/100+rem;
        // width: 2496/100+rem;
        // transform: translate3d(-12.48rem, -50%, 0);
        // transition: all 0.2s linear;
    }

    .tipBox {
        .tipItem {
            width: 214/100+rem;

            i {
                position: absolute;
                width: 45/100+rem;
                height: 45/100+rem;
                right: -15%;

                &::before {
                    position: absolute;
                    display: block;
                    content: '';
                    width: 45/100+rem;
                    height: 45/100+rem;
                    border-radius: 50%;
                    background: #fff;
                    opacity: 0.3;
                }

                &::after {
                    position: absolute;
                    display: block;
                    content: '';
                    width: 12/100+rem;
                    height: 12/100+rem;
                    top: 50%;
                    left: 50%;
                    transform: translate3d(-50%, -50%, 0);
                    border-radius: 50%;
                    background: #fff;
                    opacity: 1
                }
            }
        }

        .tipItem1 {
            top: 515/100+rem;
            left: 105/100+rem;
        }

        .tipItem2 {
            top: 990/100+rem;
            left: 742/100+rem;
        }

        .tipItem3 {
            top: 425/100+rem;
            left: 1014/100+rem;
        }

        .tipItem4 {
            top: 740/100+rem;
            left: 1340/100+rem;
        }

        .tipItem5 {
            top: 528/100+rem;
            left: 1465/100+rem;
        }

        .tipItem6 {
            top: 895/100+rem;
            left: 1790/100+rem;
        }

        .tipItem7 {
            top: 646/100+rem;
            left: 2004/100+rem;
        }
    }

    .showDetailBtn {
        width: 311/100+rem;
        bottom: 0.3rem;
    }
}