<template>
    <div class="page p1">
        <div class="abs centerh mapBox">
            <img src="@/images/p1/map_l.jpg" alt="">
        </div>
        <!-- <div class="abs center1 centerh mapBox"> -->
        <!-- <img src="@/images/p1/map.jpg" alt="">
            <ul class="tipBox">
                <li class="abs tipItem tipItem1">
                    <i></i>
                    <img src="@/images/p1/xiaozhong.png" alt="">
                </li>
                <li class="abs tipItem tipItem2">
                    <i></i>
                    <img src="@/images/p1/haidao.png" alt="">
                </li>
                <li class="abs tipItem tipItem3">
                    <i></i>
                    <img src="@/images/p1/qingxin.png" alt="">
                </li>
                <li class="abs tipItem tipItem4">
                    <i></i>
                    <img src="@/images/p1/ziran.png" alt="">
                </li>
                <li class="abs tipItem tipItem5">
                    <i></i>
                    <img src="@/images/p1/yiyu.png" alt="">
                </li>
                <li class="abs tipItem tipItem6">
                    <i></i>
                    <img src="@/images/p1/fugu.png" alt="">
                </li>
                <li class="abs tipItem tipItem7">
                    <i></i>
                    <img src="@/images/p1/modeng.png" alt="">
                </li>
            </ul> -->
        <!-- </div> -->

    </div>
</template>


<style lang="scss" scoped src="./p1.scss"></style>

<script>
    export default {
        name: 'p1',
        data() {
            return {}
        },
        methods: {},
    }
</script>