<template>
    <div class="page p3">
        <div class="abs centerh mapBox">
            <img src="@/images/p1/map_r.jpg" alt="">
        </div>



    </div>
</template>


<style lang="scss" scoped src="./p3.scss"></style>

<script>
    export default {
        name: 'p3',
        data() {
            return {}
        },
        methods: {

        },
    }
</script>