<template>
  <div style="height:100%;">
    <!-- <router-view /> -->
    <keep-alive>
      <router-view v-if="$route.meta.keepAlive" />
    </keep-alive>
    <router-view v-if="!$route.meta.keepAlive" />

    <!-- rotateMask -->
    <div class="rotateMaskBox">
      <div class="rotateMaskImg"></div>
    </div>

    <wechat-share ref="wechatshare"></wechat-share>
  </div>
</template>
<script>
  import WechatShare from '@/components/WechatShare.vue'

  export default {
    components: {
      'wechat-share': WechatShare,
    },
    mounted() {
      // if (this._GLOBAL.device.wechat) {
      this.wxShare()
      // }

    },
    methods: {
      wxShare() {
        this.$refs.wechatshare.$emit('useShare')
      }
    },
  }
</script>